fastmcp>=3.0.0

# ASGI server
uvicorn[standard]>=0.29.0
 

# Auth
# pyjwt>=2.8.0
# supabase>=2.4.0

# Vector DB
pinecone>=3.0.0
openai>=1.30.0           # for embedding generation (swap if using another provider)

# Graph DB
neo4j>=5.19.0

# Config
cachetools>=5.3.0        # TTL cache for Permit.io ticker results
pydantic-settings>=2.2.0
python-dotenv>=1.0.0